<!DOCTYPE html>
<html lang="en">

<head>
  <title>AntaGANize - Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'antaganize/main.css' %}"">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <div class="container-fluid" style="padding: 30px 100px 0px 100px">
    <div class="row">
      <div class="col-sm-9 " style="margin-bottom: 0px">
        <h1 style="margin-bottom: 0px; padding-left: 25px"><a href="{% url 'antaganize:index' %}">AntaGANize</a></h1>
      </div>
      <div class="col-sm-3 title" style="margin-bottom: 0px">
        <h4 style="margin-bottom: 0px">
          <a href="{% url 'antaganize:help' %}">Help</a> 
          | 
          <a href="{% url 'antaganize:about' %}">About Us</a>
        
        </h4>
      </div>
    </div>
  </div>
  <hr style="border-top: solid black; margin-top: 0px">
  <div class="container-fluid" style="padding: 30px 100px 0px 100px">
    <div class="row">
      <div class="col-sm-8">
        <!-- <form action="/action_page.php"> -->
          <div class="row">
            <div class="col-sm-4">
              <label for="img">Add source image:</label>
              <br>
              <input type="file" onchange="readURL(this, '#source');" />
              <img id="source" src="#" alt="" max-width="300px"/>    
            </div>
            <div class="col-sm-4">
              <label for="img">Add target image:</label>
              <br>
              <input type="file" onchange="readURL(this, '#target');" />
              <img id="target" src="#" alt="" max-width="300px"/>   
            </div>

            <div class="col-sm-4" style="padding-left: 30px">
              <label for="model">Choose a model:</label>
              <br>
              <select name="model" id="model">
                <option value="ourvariant">Our Variant</option>
              </select>
              <br>
              <br>
              <label for="epoch">Epoch:</label>
              <input type="number" id="epoch" name="epoch"><br><br>
              <br>
              <input type="checkbox" id="gif" name="gif" value="gif">
              <label for="gif">Change to a gif</label><br>
            </div>
          </div>
          <div class="row">
            <div class="center">
              <button type="button" style="text-align: center;">Generate image</button>
            </div>
          </div>
        <!-- </form> -->
      </div>
      <div class="col-sm-1">
        <div class="vl"></div>
      </div>
      <div class="col-sm-3">
        <label for="img">Output Image:</label>
        {% load static %}
        <img src="{% static 'antaganize/placeholder.jpg' %}" alt="Placeholder image" height="300px" width="300px" class="center-image">
        <br>
        <div class="center">
          <button type="button">Save Image</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script>
  function readURL(input, id) { 
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $(id).attr('src', e.target.result).width(300);
    };

    reader.readAsDataURL(input.files[0]);
  }
}
</script>